{% extends "index" %}
{% set pageTitle = entry.title ~ "|" ~ siteName %}
{% set bodyClass = "inner-page" %}
{% block content %}
	{% cache using key "story-entry-cache" %}
	<article class="section">
		<div class="content-column content-column--narrow">

			<h1 class="centered">{{ entry.title }}</h1>

			<!-- Slider Component -->
			{% include "components/slider" with {
         photos: entry.photos.all(),
       } %}

			{{ entry.richText }}
		</div>
	</article>
	{% endcache %}
{% endblock %}
